body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding: 10px 20px;
  }

  h1{
    font-size: 20px;
    margin-left: 30px;

  }
  
  .plus-icon {
    font-size: 24px;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 10px;
  }
  
  .plus-icon:hover {
    color: #ddd;
  }

  .register-container a {
    text-decoration: none; 
    color: #e8e5e5; 
  }
  
  .register-container a:hover {
    color: #ffffff; 
  }
  
  .register-container {
    display: flex; 
    align-items: center; 
  }

  .sign-in-content {
    background-color: #777779;
    display: flex;
    font-family: 'Outfit', sans-serif;
    color:black;
    background: #777779;
    border: 2px solid #000000;
    border-radius: 30px;
    flex-direction: column;
    top: 70%;
	left: 55%;
	transform: translate(-70%, -80%);
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 350px;
    padding: 50px;
    margin: 0;
}
.sign-in-content h1 {
    font-family: "Poppins", sans-serif;
    color:#333;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
button[type=submit]{ 
    background-color: #2f2f30;
    color: #fff;
    font-size: 15px;
    border: none;
    padding: 15px 50px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 50px;
        
} 
button:hover{
    background-color: #1c1d1d;
}

input[type=text], input[type=password]{ 
    width: 100%; 
    height: 40px;
    margin: 8px 0;
    padding: 9px 15px; 
    display: inline-block; 
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box; 
    border-radius: 10px;
}
.sign-in-content { 
    padding: 25px; 
    background-color: #DDDFEC;
    height: 60%;
}
  